{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('main.add') }}" class="btn btn-success mb-3">Add New Item</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>MAC Address</th>
      <th>Serial Number</th>
      <th>Manufacturer</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.mac_address }}</td>
      <td>{{ item.serial_number }}</td>
      <td>{{ item.manufacturer }}</td>
      <td>{{ item.description }}</td>
      <td>
        <a href="{{ url_for('main.edit', id=item.id) }}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{{ url_for('main.delete', id=item.id) }}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
